<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This site is created by Umar Baig.It user data from open weather api.</p>
        <img src="./img/robot.png" width="250">
        </div>
       
        {{!-- <p>Created by {{name}}</p> --}}
        {{>footer}}

    </body>
</html>